.container{
    background-color: var(--secondary-color);
    color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    padding-inline: 20px;
    justify-content: space-between;

    .logo{
        font-weight: bold;
        text-decoration: none;
        color: #fff;
    }

    .pages{
        display: flex;
        gap: 10px;
        
        a{
            color: #fff;
        }
    }
}