body{
  margin: 0;
}

:root{
  --primary-color: #c5f200;
  --secondary-color: #23293b;


  --rs-primary-500: var(--secondary-color)!important;
  --rs-primary-700: #455279!important;
  --rs-primary-600: #303a58!important;
}

.rs-input{
  font-size: 16px!important;
}