.productList{
    display: flex;
    flex-direction: column;
    gap: 10px;

    .product{
        border: 1px solid #eee;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .operations{
            display: flex;
            gap: 10px;
        }
    }
}