.productList {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .product {
        border: 1px solid #eee;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;

        .operations {
            display: flex;
            gap: 10px;
        }
    }
}

.participantsList {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .participant {
        border: 1px solid #eee;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;

        img{
            width: 20px;
            border-radius: 4px;
        }

        .participantInfo{
            display: flex;
            gap: 5px;
            align-items: center;
        }
    }
}